@font-face {
  font-family: 'Helio';
  src: url('font/heliosext.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helio', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B2BEC3;
}

.header {
  width: 100%;
  background-color: #9DBAC6;
  position: sticky;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #333; /* Dark gray background */
  color: white;
}

/* Increase the size of the header words */
.header h1 {
  font-size: 2rem; /* Adjust the size as needed */
}
