/*
dark blue
#323232
gray
#B2BEC3
offwhite
#C8C8C8
*/

@font-face {
  font-family: 'Helio';
  src: url('../font/heliosext.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helio', sans-serif;
  background-color: #323232;
  flex: 1;
}

.header {
  width: 100%;
  background-color: #9DBAC6;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}

.nav-link {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

.nav-link:hover {
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

p:not(:last-child) {
    margin-bottom: 2rem;
}

p:nth-child(odd) {
    animation-delay: 0.2s;
}

p:nth-child(even) {
    animation-delay: 0.4s;
}