.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0 2rem;
}

.section {
    font-size: 2rem;
    color: #C8C8C8;
}

.use, .sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}